.typeBoxContainer {
}

.typeBox {
    background: white !important;
    margin: 0 10px 10px 0 !important;
    height: 70px;
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.typeBox img {
    width: 36px;
    margin: 0;
}

.typeBox span {
    color: black;
    font-size: 12px;
}

.checkTypeBox {
    opacity: 0.7;
}