.container {
    padding-left: 24px;
    padding-right: 24px;
}
.container .detail {
    margin-top: 10px;
    margin-bottom: 10px;
}

.open {
    height: 200px;
    transition: all 0.3s ease;
}

.close {
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}