.container {
    padding-left: 24px;
    padding-right: 24px;
}
.container .detail {
    margin-top: 10px;
    margin-bottom: 10px;
}

.open {
    height: 300px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.close {
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.box {
    height: 60px;
    width: 90%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
}

.box span {
    font-weight: bold;
}

.dropdownBox {
    width: 100%;
    top: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0;
    background: #393939;
    color: white;
    z-index: 3;
}

.dropdownBox input {
    margin: 10px 0 10px 0;
    width: 90%;
    height: 30px;
}

.dropdownBox span {
    width: 90%;
    text-align: left;
    margin: 15px 0 15px 0;
    font-weight: bold;
    font-size: 16px;
}