.toolBar h1 {
    width: fit-content;
}

.toolBar div, .close div {
    background: #393939
}

.toolBar img {
    margin-right: 10px;
}

.searchBar div {
    background: black;
}

.bottom span {
    border-bottom: 2px solid #868e96;
    padding-bottom: 5px;
}

.bottom button {
    width: 80px;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    background:linear-gradient(-70deg, transparent 15px, #393939 0) right,
    linear-gradient(70deg, transparent 15px, #393939 0) left;
    background-size:50% 100%;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    padding-top: 4px;
}